.homepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;   
    margin-top: 2rem; 
}

.homepage .left{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 50%;
}

.homepage .left h1{
    font-size: 3rem;
    font-weight: bold;
    color: #0243da;
    font-family: 'Open Sans', sans-serif;
}

.homepage .left p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.homepage .right img{
    width: 100%;
}

@media (max-width: 800px) {
    .homepage{
        flex-direction: column-reverse;
    }

    .homepage .right{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: 0 auto; */
    }

    .homepage .right img{
        width: 50%;
    }

    .homepage .left{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .homepage .left h1{
        font-size: 2rem;
    }

    .homepage .left p{
        font-size: 1rem;
    }
}