.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: #fff;
    box-sizing: border-box;
}
.header .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .logo img{
    width: 50px;
}
.header .logo .host {
    color: #0243da;
}
.header .logo h3 {
    font-family: 'Open Sans', sans-serif;
    transform: translateY(5px);
}
.header .nav ul {
    display: flex;
    align-items: center;
}
.header .nav ul a {
    color: #0243da;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all .5s ease;
    border-bottom: 1px solid transparent;
}
.header .nav ul a:hover {
    border-bottom: 1px solid #0243da;
    transform: translateY(-5px);
}