.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: #fff;
    box-sizing: border-box;
}
.header .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .logo img{
    width: 50px;
}
.header .logo .host {
    color: #0243da;
}
.header .logo h3 {
    font-family: 'Open Sans', sans-serif;
    transform: translateY(5px);
}
.header .nav ul {
    display: flex;
    align-items: center;
}
.header .nav ul a {
    color: #0243da;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all .5s ease;
    border-bottom: 1px solid transparent;
}
.header .nav ul a:hover {
    border-bottom: 1px solid #0243da;
    transform: translateY(-5px);
}
.hamburguer {
    display: none;
    cursor: pointer ;
}

@media (max-width: 800px) {
    .header .nav {
        position: fixed;
        background-color: #0243da;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(1000px);
        transition: all .5s ease;
    }
    .header .nav.active {
        transform: translate(0);
    }
    .header .nav ul {
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 50%;
        left: 50%;
        gap: 30px;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
    .header .nav ul a {
        color: #fff;
        text-transform: uppercase;
    }
    .hamburguer {
        display: flex!important;
        position: fixed;
        top: 1.5rem;
        right: 2rem;
    }
} 