.conteiner{
    word-wrap: break-word;
    text-align: justify;
    border: 1px solid black;
}

.conteiner .sectionOne h1{
    text-transform: capitalize;
}

.conteiner .sectionOne p{
    border: 1px solid blue;
    overflow-wrap: break-word;
}